AWS_API_KEY=
API_URL=https://v60yr1ma4f.execute-api.sa-east-1.amazonaws.com/prod/upload-arquivos
APP_PORT=3080
# No Docker: SEFAZ_SHARE_ROOT=/mnt/sefaz
# No Windows deixe em branco para usar a pasta compartilhada UNC.

GOV_BASE_URL=https://webapp1-contagem.cidade360.cloud/CustomData.Api
GOV_IDENTIFICADOR=
GOV_SENHA=
GOV_EMAIL=
